torch
sentencepiece
packaging
transformers==4.56.1
einops
psutil
colorlog
# quantizers (make these optional installs)
torchao
bitsandbytes
optimum-quanto
# server stuff
fastapi
pydantic
uvicorn[standard]
click