torch
torchvision
torchsde
numpy
scipy
sentencepiece
packaging
einops
psutil
colorlog
# quantizers (make these optional installs)
bitsandbytes
# server stuff
fastapi
pydantic
uvicorn[standard]
click
python-multipart>=0.0.18
# hf ecosystem
hf_transfer
transformers==4.56.1
# processing
av>=12.0.0,<14.0.0